{% extends 'layout.html' %}

{% block title %}Document Merger{% endblock %}

{% block content %}
    <h2 class="mb-4">Document Merger</h2>

    <form action="/document_merger" method="post" enctype="multipart/form-data">
        <div class="input-group mb-3">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="fileInput" name="file" required>
                <label class="custom-file-label" for="fileInput">Choose file...</label>
            </div>
        </div>
        <div class="form-group">
            <label for="replacements">Enter Value: </label>
            <button class="btn btn-outline-secondary mb-3" role="button" onclick="pasteToInput('replacements')">
                <i class="fas fa-paste"></i>
            </button>
            <textarea class="form-control" name="replacements" id="replacements" cols="30" rows="10" required>[
                {"key": "Author Name", "value": "Lukaririnki26"}
            ]</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Merge</button>
    </form>

    {% if error %}
        <div class="alert alert-danger mt-4" role="alert">
            {{ error }}
        </div>
    {% endif %}

    
{% endblock %}
