<!-- flask_app/templates/temperature_converter.html -->
{% extends 'layout.html' %}

{% block title %}Lukaririnki26 Tools{% endblock %}

{% block content %}
    <div class="row">
        <div class="card m-3 col-md-3">
            <a class="nav-link" href="/formatter">
                String Formatter
            </a>
        </div>
        <div class="card m-3 col-md-3">
            <a class="nav-link" href="/finder">
                Data Finder
            </a>
        </div>

        <div class="card m-3 col-md-3">
            <a class="nav-link" href="/excel_to_json">
                Excel To Json
            </a>
        </div>

        <div class="card m-3 col-md-3">
            <a class="nav-link" href="/json_to_excel">
                Json To Excel
            </a>
        </div>

        <div class="card m-3 col-md-3">
            <a class="nav-link" href="/html_table_to_excel">
                HTML Table To Excel
            </a>
        </div>

        <div class="card m-3 col-md-3">
            <a class="nav-link" href="/document_merger">
                Document Merger
            </a>
        </div>

    </div>
{% endblock %}
